@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~datatables.net-dt/css/jquery.dataTables.min.css";
@import "~bootstrap-multiselect/dist/css/bootstrap-multiselect.css";
@import "multiselect-custom.css";

.submit-button {
  text-align: center;
}

.red {
  color: #DD4B39;
}

.green {
  color: #00A65A;
}

.table-actions {
  .edit {
    color: #00A65A;
  }

  .delete {
    color: #DD4B39;
  }

  i {
    padding-left: 5px;
  }
}

.align-text-center {
  text-align: center;
}

.box-title {
  padding: 6px;
}

.box-title-text {
  background-color: #f7f7f7;
  font-size: 18px;
  text-align: center;
  padding: 7px 10px;
  margin-top: 0;
}

#generationResult {
  margin-top: 40px;
}

#generationSection {
  margin-top: 40px;
}

