{% extends '@AdminLTE/layout/default-layout.html.twig' %}
{% block head %}
    {{ parent() }}
    {% block stylesheets %}
        {{ parent() }}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

{% endblock %}
{% block body %}
    {% block page_subtitle %} {% endblock %}
    {% block logo_path %} {{  path('home') }} {% endblock %}
    {% block logo_mini %}<b>F</b>S{% endblock %}
    {% block logo_large %} <b>Flights</b>Scheduler {% endblock %}
    {% block sidebar_search %}{% endblock %}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ parent() }}
{% endblock %}
