{% extends 'base.html.twig' %}

{% block page_title %}Edit airport{% endblock %}

{% block page_content %}

    {{ include('airport/_form.html.twig', {'button_label': 'Update'}) }}

    {#<a href="{{ path('airport_index') }}">back to list</a>#}

    {{ include('airport/_delete_form.html.twig') }}
{% endblock %}
