{% extends 'base.html.twig' %}

{% block page_title %}Airports{% endblock %}

{% block page_content %}
    <table id="airportsTable" class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>OpenTime</th>
                <th>CloseTime</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

{% endblock %}
