{% extends 'base.html.twig' %}

{% block page_title %}Airport{% endblock %}

{% block page_content %}
    <div class="col-md-7">
        <div class="box box-primary">
            <table class="table">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ airport.id }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ airport.name }}</td>
                </tr>
                <tr>
                    <th>Latitude</th>
                    <td>{{ airport.latitude }}</td>
                </tr>
                <tr>
                    <th>Longitude</th>
                    <td>{{ airport.longitude }}</td>
                </tr>
                <tr>
                    <th>OpenTime</th>
                    <td>{{ airport.openTime ? airport.openTime|date('H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>CloseTime</th>
                    <td>{{ airport.closeTime ? airport.closeTime|date('H:i:s') : '' }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    {#<a href="{{ path('airport_index') }}">back to list</a>#}

    {#<a href="{{ path('airport_edit', {'id': airport.id}) }}">edit</a>#}

    {{ include('airport/_delete_form.html.twig') }}
{% endblock %}
