{% extends 'base.html.twig' %}
{% block page_title %}{{ 'Flights Generation' }}{% endblock %}
{% block page_content %}
    <div id="generationSection" class="align-text-center">
        <button id="generateFlights" href="{{ path('flights_generation') }}" class="btn btn-lg btn-primary">
            Generate
        </button>
    </div>
    <div id="generationResult"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('flights') }}
{% endblock %}

