{% extends 'base.html.twig' %}

{% block page_title %} Flights {% endblock %}

{% block page_content %}
    <table class="table table-striped dataTable">
        <thead>
        <tr>
            <th>Id</th>
            <th>Airline</th>
            <th>Airplane</th>
            <th>From</th>
            <th>To</th>
            <th>Flight start</th>
            <th>Fight end</th>
            <th>Flight time</th>
            <th>Passengers</th>
            <th>Distance (km)</th>
        </tr>
        </thead>
        <tbody>
        {% for flight in flights %}
            <tr>
                <td>{{ flight.id }}</td>
                <td>
                    <a href="{{ path('airline_show', {'id' : flight.airline.id}) }}">
                        {{ flight.airline.name }}
                    </a>
                </td>
                <td>
                    <a href="{{ path('airplane_show', {'id' : flight.airplane.type.id}) }}">
                        {{ flight.airplane.type.name }}
                    </a>
                    /{{ flight.airplane.code }}
                </td>
                <td>
                    <a href="{{ path('airport_show', {'id' : flight.fromAirport.id}) }}">
                        {{ flight.fromAirport.name }}/
                        {{ flight.fromAirport.city.name }}/
                        {{ flight.fromAirport.city.country.name }}
                    </a>
                </td>
                <td>
                    <a href="{{ path('airport_show', {'id' : flight.toAirport.id}) }}">
                        {{ flight.toAirport.name }}/
                        {{ flight.toAirport.city.name }}/
                        {{ flight.toAirport.city.country.name }}
                    </a>
                </td>
                <td>{{ flight.takeOffTime|date('Y-m-d H:i:s')}}</td>
                <td>{{ flight.landingTime|date('Y-m-d H:i:s')}}</td>
                <td>{{ flight.duration|format_minutes}}</td>
                <td>{{ flight.passengers}}</td>
                <td>{{ flight.distance|number_format}}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
