{% extends 'base.html.twig' %}
{% block page_title %}{{ 'Flights Statistics' }}{% endblock %}
{% block page_content %}
    <div class="col-xs-12">
        {% embed '@AdminLTE/Widgets/infobox-widget.html.twig'  with {
        'color' : 'aqua',
        'icon'  : 'fa fa-plane',
        }%}
            {% block box_text %}
                Flights
            {% endblock %}
            {% block box_number %}
                {{ total }}
            {% endblock %}
            {% block progress_description %}
            {% endblock %}
        {% endembed %}
    </div>
    <div class="col-xs-12">
        {% if longestFlight %}
        {% embed '@AdminLTE/Widgets/infobox-widget.html.twig'  with {
        'color' : 'green',
        'icon'  : 'fa fa-angle-double-up',
        }%}
            {% block box_text %}
                Longest flight
            {% endblock %}
            {% block box_number %}
                {{ longestFlight.id }}
            {% endblock %}
            {% block progress_description %}
                (From:{{ longestFlight.fromAirport.name }}, To: {{ longestFlight.toAirport.name}})
            {% endblock %}
        {% endembed %}
        {% endif %}
    </div>
    <div class="col-xs-12">
        {% if shortestFlight %}
            {% embed '@AdminLTE/Widgets/infobox-widget.html.twig'  with {
            'color' : 'yellow',
            'icon'  : 'fa fa-angle-double-down',
            } %}
                {% block box_text %}
                    Shortest flight
                {% endblock %}
                {% block box_number %}
                    {{ shortestFlight.id }}
                {% endblock %}
                {% block progress_description %}
                    (From:{{ shortestFlight.fromAirport.name }}, To: {{ shortestFlight.toAirport.name }})
                {% endblock %}
            {% endembed %}
        {% endif %}
    </div>
    <div class="col-xs-12">
        {% if  biggestAirline %}
            {% embed '@AdminLTE/Widgets/infobox-widget.html.twig'  with {
            'color' : 'red',
            'icon'  : 'fa fa-sort-amount-up',
            } %}
                {% block box_text %}
                    Biggest airline
                {% endblock %}
                {% block box_number %}
                    <a href="{{ path('airline_show', {'id': biggestAirline.id}) }}">{{ biggestAirline.name }}</a>
                {% endblock %}
                {% block progress_description %}
                    ({{ biggestAirline.planes }}
                    planes, {{ biggestAirline.passengers }} passengers)
                {% endblock %}
            {% endembed %}
        {% endif %}
    </div>
    <div class="col-xs-12">
        {% if smallestAirline %}
            {% embed '@AdminLTE/Widgets/infobox-widget.html.twig'  with {
            'color' : 'aqua',
            'icon'  : 'fa fa-sort-amount-down',
            } %}
                {% block box_text %}
                    Smallest airline
                {% endblock %}
                {% block box_number %}
                    <a href="{{ path('airline_show', {'id': smallestAirline.id}) }}">{{ smallestAirline.name }}</a>
                {% endblock %}
                {% block progress_description %}
                    ({{ smallestAirline.planes }}
                    planes, {{ smallestAirline.passengers }} passengers)
                {% endblock %}
            {% endembed %}
        {% endif %}
    </div>
{% endblock %}
