<div class="col-md-7">
    <div class="box box-primary">
        <div class="box-header with-border">
            {{ form_start(form) }}
            {{ form_errors(form) }}

            {{ form_row(form.name) }}
            {{ form_row(form.country) }}

            {{ form_row(form.cities, {'attr': {'class': 'multiselect'} } ) }}
        </div>
        <div class="box-footer with-border">
            {{ form_row(form.submit, { 'label': 'Save', 'attr': {'class': 'btn-primary'}}) }}
            {{ form_end(form) }}
        </div>
    </div>
</div>