{% extends 'base.html.twig' %}

{% block page_title %}Edit Airline{% endblock %}

{% block page_content %}

    {{ include('airline/_form.html.twig', {'button_label': 'Update'}) }}

    {#<a href="{{ path('airline_index') }}">back to list</a>#}

    {{ include('airline/_delete_form.html.twig') }}
{% endblock %}
