{% extends 'base.html.twig' %}

{% block page_title %}Airline index{% endblock %}

{% block page_content %}

    <table class="table table-striped dataTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Origin country</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for airline in airlines %}
            <tr>
                <td>{{ airline.id }}</td>
                <td>{{ airline.name }}</td>
                <td>{{ airline.country }}</td>
                <td class="table-actions">
                    <a class="display" href="{{ path('airline_show', {'id': airline.id}) }}"><i class="fa fa-eye"></i></a>
                    <a class="edit" href="{{ path('airline_edit', {'id': airline.id}) }}"><i class="fa fa-pen"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
