{% extends 'base.html.twig' %}

{% block page_title %}Add Airplanes to Airlines {% endblock %}

{% block page_content %}
    <div class="col-md-7">
        <div class="box box-primary">
            <div class="box-header with-border">
                {{ form_start(form) }}
                {{ form_errors(form) }}

                {{ form_row(form.airline) }}
                {{ form_row(form.airplane) }}
                {{ form_row(form.number) }}
            </div>
            <div class="box-footer with-border">
                {{ form_row(form.submit, { 'label': 'Save', 'attr': {'class': 'btn-primary'}}) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
