{% extends 'base.html.twig' %}

{% block page_title %}Airline{% endblock %}

{% block page_content %}
    <div class="col-md-7">
        <div class="box box-primary">
            <table class="table">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ airline.id }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ airline.name }}</td>
                </tr>
                <tr>
                    <th>Country of origin</th>
                    <td>{{ airline.country.name }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
<div class="col-md-7">

    <h4>Airplanes</h4>
    <div class="box box-primary">
        <table class="table">
            <thead>
            <tr>
                <th>Type</th>
                <th>Number</th>
            </tr>
            </thead>
            <tbody>
            {% for airplane in airplanes %}
                <tr>
                    <td>{{ airplane.name }}</td>
                    <td>{{ airplane.number }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>
{% endblock %}
