<div class="col-md-5">
    <div class="box box-danger">
        <div class="box-header with-border">
            <p>Delete this airplane</p>
            <form method="post" action="{{ path('airplane_delete', {'id': airplane.id}) }}"
                  onsubmit="return confirm('Are you sure you want to delete this item?');">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ airplane.id) }}">
                <button class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
</div>
