{% extends 'base.html.twig' %}

{% block page_title %}Edit airplanes{% endblock %}

{% block page_content %}

    {{ include('airplane/_form.html.twig', {'button_label': 'Update'}) }}

    {#<a href="{{ path('airplane_index') }}">back to list</a>#}

    {{ include('airplane/_delete_form.html.twig') }}
{% endblock %}
