{% extends 'base.html.twig' %}

{% block page_title %}Airplanes{% endblock %}

{% block page_content %}

    <table class="table table-striped dataTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Distance(km)</th>
                <th>Capacity(seats)</th>
                <th>Speed(km/h)</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for airplane in airplanes %}
            <tr>
                <td>{{ airplane.id }}</td>
                <td>{{ airplane.name }}</td>
                <td>{{ airplane.distance|number_format }}</td>
                <td>{{ airplane.capacity }}</td>
                <td>{{ airplane.speed|number_format }}</td>
                <td class="table-actions">
                    <a class="display" href="{{ path('airplane_show', {'id': airplane.id}) }}"><i class="fa fa-eye"></i></a>
                    <a class="edit" href="{{ path('airplane_edit', {'id': airplane.id}) }}"><i class="fa fa-pen"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
