{% extends 'base.html.twig' %}

{% block page_title %}Airplane{% endblock %}

{% block page_content %}
    <div class="col-md-7">
        <div class="box box-primary">
            <table class="table">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ airplane.id }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ airplane.name }}</td>
                </tr>
                <tr>
                    <th>Distance</th>
                    <td>{{ airplane.distance }}</td>
                </tr>
                <tr>
                    <th>Capacity</th>
                    <td>{{ airplane.capacity }}</td>
                </tr>
                <tr>
                    <th>Speed</th>
                    <td>{{ airplane.speed }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    {#<a href="{{ path('airplane_edit', {'id': airplane.id}) }}">edit</a>#}

    {{ include('airplane/_delete_form.html.twig') }}
{% endblock %}
